* {
  margin : 0 ;
  padding: 0;
  box-sizing: border-box;

}


:root {

  --background: #282C34;
  --white: #F8F8F8;
}


@media (max-width : 1080px){

  html{
      font-size : 93.75%  // 15px
  }
}

@media (max-width : 720px){

  html{
      font-size : 87.5% //14px
  }
}

body {

  background: var(--background);
  color : var(--white)

}


body , input ,button , select , textarea {
  font : 400 1rem "Roboto" , sans-sarif;
}

button {
  cursor: pointer ;
}


a{
  color : inherit ;
  text-decoration: none;
}